*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 로그인메뉴 */
header #wrap{
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
}
header #wrap .form{
    background: #fff;
    width: 100%;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
header #wrap .form ul{
    float: right;
}
header #wrap .form li{
    float: left;
}
header #wrap .form li:nth-child(-2n+1){
    margin-right: 20px;
}
header #wrap a{
    color: #000;
}
/* 타이틀 */
header #wrap .title{
    width: 100%;
    overflow: hidden;
}
header #wrap .title h1{
    font-family: 'PyeongChangPeace-Bold';
    text-align: center;
}
/* 상단메뉴 */
header #wrap .menu{
    width: 100%;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
header #wrap .menu ul{
    width: 300px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header #wrap .menu li{
    float: left;
}
header #wrap .menu ul li:nth-child(-n+3) a:hover {
    text-shadow: #000 0 0 10px;
    color: #fff;
}
header #wrap .menu ul li:nth-child(4) a:hover {
    text-shadow: goldenrod 0 0 10px;
}
header #wrap .menu ul li:nth-child(5) a:hover {
    text-shadow: hotpink 0 0 10px;
}
/* 갤러리 */
section #wrap{
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
}
section #wrap .gall{
    text-align: center;
    padding-top: 20px;
}
section #wrap .gall img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: gray 0 0 10px;
}
section #wrap .gall img:hover{
    opacity: 0.6;
}
section #wrap .gall h1{
    font-family: 'PyeongChangPeace-Bold';
    display: block;
    border-top: solid 1px #000;
    padding-top: 40px;
    width: 50%;
    margin: 0 auto;
}
section #wrap .gall .a{
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    float: left;
}
section #wrap .gall .b{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    float: left;
}
/* 상단푸터 */
footer #wrap{
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
}
footer #wrap .top{
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}
footer #wrap .top h2{
    font-family: 'PyeongChangPeace-Bold';
    display: block;
    border-top: solid 1px #000;
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
footer #wrap .top p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
footer #wrap .bot{
    width: 50%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
}
footer #wrap .bot h3{
    font-family: 'PyeongChangPeace-Bold';
}
footer #wrap .bot p{
    padding-top: 5px;
}
